//顏色定義

//背景色
$color-background: #324157;
//黑
$black: #1F2D3D;
$light-black: #324057;
$extra-light-black: #475669;
//白
$dark-white:#F9FAFC;
$white:#FFFFFF;
//灰
$gray:#D3DCE6;
$light-gray:#E5E9F2;
$extra-light-gray:#EFF2F7;
//銀
$silver:#8492A6;
$light-silver:#99A9BF;
$extra-light-silver:#C0CCDA;
//危險紅
$danger-red: #FF4949;   



//字體定義
$font-size-small-s: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-large-x:34px;
